*.out
.vscode*
*.log
*.exe
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
.vs/algo-structs/FileContentIndex/471e81f8-d650-46c7-a39a-c20fe292b600.vsidx
.vs/algo-structs/v17/.wsuo
*/a
*.iml
*.xml
*/test
*.clang*
/problemas/343B/a
/problemas/343B/ans.txt
/problemas/343B/input.txt
/problemas/cco07p2/test
